In [ ]:
import pandas as pd


movies_data = {
    'movie_id': [1, 2, 3],
    'title': ['Avengers', 'Frozen 2', 'Joker']
}
movies_df = pd.DataFrame(movies_data)


users_data = {
    'user_id': [1, 2, 3, 4],
    'name': ['Daniel', 'Monica', 'Maria', 'James']
}
users_df = pd.DataFrame(users_data)

movie_rating_data = {
    'movie_id': [1, 1, 1, 1, 2, 2, 2, 3, 3],
    'user_id': [1, 2, 3, 4, 1, 2, 3, 1, 2],
    'rating': [3, 4, 2, 1, 5, 2, 2, 3, 4],
    'created_at': ['2020-01-12', '2020-02-11', '2020-02-12', '2020-01-01',
                   '2020-02-17', '2020-02-01', '2020-03-01', '2020-02-22', '2020-02-25']
}
movie_rating_df = pd.DataFrame(movie_rating_data)


print("Movies DataFrame:")
print(movies_df)

print("\nUsers DataFrame:")
print(users_df)

print("\nMovieRating DataFrame:")
print(movie_rating_df)

Movies DataFrame:
   movie_id     title
0         1  Avengers
1         2  Frozen 2
2         3     Joker

Users DataFrame:
   user_id    name
0        1  Daniel
1        2  Monica
2        3   Maria
3        4   James

MovieRating DataFrame:
   movie_id  user_id  rating  created_at
0         1        1       3  2020-01-12
1         1        2       4  2020-02-11
2         1        3       2  2020-02-12
3         1        4       1  2020-01-01
4         2        1       5  2020-02-17
5         2        2       2  2020-02-01
6         2        3       2  2020-03-01
7         3        1       3  2020-02-22
8         3        2       4  2020-02-25

In [ ]:
import pandas as pd


def movie_rating(
    movies: pd.DataFrame, users: pd.DataFrame, movie_rating: pd.DataFrame
) -> pd.DataFrame:
    user_name = (
        users.merge(movie_rating, on="user_id")
        .groupby("name")
        .movie_id.count()
        .sort_values(ascending=False)
        .head(1)
        .reset_index()["name"][0]
    )
    movie_name = (
        movie_rating[movie_rating.created_at.between("2020-02-01", "2020-02-29")]
        .merge(movies, on="movie_id")
        .groupby("title")
        .rating.mean()
        .sort_values(ascending=False)
        .head(1)
        .reset_index()["title"][0]
    )
    return pd.DataFrame({"results": [user_name, movie_name]})